<div class="sidenav" id="sidenav">
  <div class="sidenav-header">
      <!-- Replace the menu button with your logo -->
      <img src="assets/Logo.png" alt="CarexusFlow Logo" class="logo">
      <h1>CarexusFlow</h1>
  </div>
  <ul class="sidenav-menu">
      <li class="sidenav-item">
          <button (click)="navigateTo('patient')" class="sidenav-link">
              <i class="fas fa-user-injured"></i> Patient
          </button>
      </li>
      <li class="sidenav-item">
          <button (click)="navigateTo('admindashboard')" class="sidenav-link">
              <i class="fas fa-th-large"></i> Dashboard
          </button>
      </li>
      <li class="sidenav-item">
        <button (click)="navigateTo('schedule')" class="sidenav-link">
            <i class="fas fa-calendar-alt"></i> Schedule
        </button>
    </li>

      <li class="sidenav-item">
          <button (click)="navigateTo('archive')" class="sidenav-link">
              <i class="fas fa-archive"></i> Archive
          </button>
      </li>

      <li class="sidenav-item">
        <button (click)="navigateTo('appointments')" class="sidenav-link">
            <i class="fas fa-calendar-alt"></i> Appointments
        </button>
    </li>

      <li class="sidenav-item logout">
        <button (click)="showLogoutModal()" class="sidenav-link">
            <i class="fas fa-sign-out-alt"></i> Logout?
        </button>
    </li>
  </ul>
</div>

<!-- Logout confirmation modal -->
<div class="modal" *ngIf="isLogoutModalVisible">
  <div class="modal-content">
      <h3>Confirm Logout</h3>
      <p>Are you sure you want to logout?</p>
      <button class="confirm-btn" (click)="confirmLogout()">Yes</button>
      <button class="cancel-btn" (click)="cancelLogout()">No</button>
  </div>
</div>
