<header class="header">
    <div class="logo-container">
        <a href="/patient" style="display: flex; align-items: center; text-decoration: none;"> <!-- Update this link to the appropriate route -->
            <img src="assets/Logo.png" alt="Carexus Logo" style="margin-right: 10px;">
            <h1 style="font-size: 24px; color: #333;">Carexus</h1>
        </a>
    </div>
</header>


<div class="userprofile-container">
    <h2>Personal Information</h2>
    <div class="user-info">
        <div class="info-row">
            <div>
                <strong>Name</strong>
                <p>John Doe</p>
            </div>
            <div>
                <strong>Gender</strong>
                <p>Male</p>
            </div>
            <div>
                <strong>Date of Birth</strong>
                <p>January 1,2005</p>
            </div>
        </div>
        <hr>
        <div class="info-row">
            <div>
                <strong>Email Address</strong>
                <p> johndoe gmail.com</p>
            </div>
            <div>
                <strong>Home Address</strong>
                <p>123 Olongapo City</p>
            </div>
            <div>
                <strong>Contact Number</strong>
                <p>09345123123</p>
            </div>
        </div>
    </div>
</div>
